.head{
  margin-bottom: 35px;
  h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #936CF7;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    img{
      margin-left: 30px;
    }
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
.wrap_filter {
  background: linear-gradient(91.55deg, #09070C 0.44%, #1E1433 99.56%);
  box-shadow: 0 0 5px rgba(238, 234, 244, 0.25), 0 1px 0 #373240;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .search_wrap {
    position: relative;
    input{
      padding-right: 60px;
    }
    svg{
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 21px;
      height: 21px;
      path{
        fill: #B6ADCF;
      }
    }
  }
  .wrap{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B6ADCF;
    gap: 10px;
    p{
      margin-bottom: 0;
    }
  }
}
.wrap_list {
  display: flex;
  flex-direction: column;
  background: #27262C;
  border: 1px solid #373240;
  box-shadow: 0 0 5px #372F47;
  border-radius: 16px;
  overflow: hidden;


  .loading_text {
    font-size: 20px;
    color: #B8ADD2;
    display: block;
    margin: 20px auto;


  }
  & > button{
    margin: 8px 0;
  }
}
